<section class="comingsoon">
    <h1>{{ title }}</h1>
    <p class="comingsoon-text">
        This section is currently in development.
        <br>
            A curated selection of work will be available soon.
        </p>
    </section>